<h2>WTF is ListenList?!</h2>
<p>ListenList is a pet project by <a href="http://twitter.com/idpro">@idPro</a> that allows you to find Artists, Songs and Albums that you want to listen to, but can just never seen to find time. Using the <a href="http://www.spotify.com">Spotify</a> API, it helps you keep track of what you want to listen to and what you've already heard.</p>
<p>ListenList is an open source project and you should feel free to fork it on <a href="https://github.com/idpro/ListenList">GitHub</a>!</p>