<h2>WTF is ListenList?!</h2>
<p>ListenList is a pet project by @idPro that allows you to find Artists, Songs and Albums that you want to listen to, but can just never seen to find time. Using the Spotify API, it helps you keep track of what you want to listen to and what you've already heard.</p>
<p>ListenList is an open source project and you should feel free to fork it on GitHub!</p>