@import "bootstrap";
@import "bootstrap-responsive";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
#save-search {
  text-transform: capitalize;
}
table {
  tbody {
    tr.listened {
      td {
        text-decoration: line-through;
      }
      td:last-child {
        text-decoration: none;
      }
    }
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(-360deg); }
}
#loading-query {
  -webkit-animation:spin 1.5s infinite linear;
  display: none;
}