<!DOCTYPE html>
<html>
<head>
  <title>ListenList</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <div class="modal hide" id="url-modal">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal">×</button>
    </div>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
