<!DOCTYPE html>
<html>
<head>
  <title>ListenList</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag "application" %>
  <script>
  $(function() {
    $('a[data-toggle="modal"]').click(function(e) {
      e.preventDefault();
      var href = $(this).attr('href');
      // console.log(href);
      if (href.indexOf('#') == 0) {
        $(href).modal('open');
      } else {
        $.get(href, function(data) {
          modal = '<div class="modal hide" id="url-modal"><div class="modal-body"><button type="button" class="close" data-dismiss="modal">×</button>'+data+'</div></div>';
          $(modal).appendTo('body');
          $('#url-modal').modal('show');
        });
      }
    });
  });
  </script>
</body>
</html>
